<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lab 8: INSERT SQL Command</title>
</head>
<body>

  <h1> Adding Authors and Quotes </h1>

  <form action="/author/new">
    <button>Add Authors</button>
  </form><br>

  <form action="/quote/new">
    <button>Add Quotes</button>
  </form>
  
</body>
</html>

<!-- Date of birth and death -->
<!-- Gender -->
<!-- Country -->
<!-- Portrait -->
<!-- Profession -->