<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lab 8: INSERT SQL Command</title>
</head>
<body>

  <h1> Adding Authors and Quotes </h1>

  <form action="/author/new">
    <button>Add Authors</button>
  </form><br>

  <form action="/quote/addNew">
    <button>Add Quotes</button>
  </form><br>

  <form action="/authors">
    <button>Display Authors</button>
  </form><br>

  <form action="/quotes">
    <button>Display Quotes</button>
  </form>
  
</body>
</html>

